.wrap {
  text-align: right;
  margin-right: 30px;
  padding-left: 5px;
}

.wrap:hover {
  background-color: rgba(200, 200, 200, 0.45);
  cursor: pointer;
}

.username {
  display: inline-block;
  margin-right: 10px;
  max-width: 85px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
