<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.flyray.bsin.server.mapper.RegionMapper">


    <resultMap id="BaseResultMap" type="me.flyray.bsin.server.domain.SysRegion">
        <id column="region_id" jdbcType="VARCHAR" property="regionId" />
        <result column="code" jdbcType="VARCHAR" property="code" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="parent_code" jdbcType="VARCHAR" property="parentCode" />
        <result column="layer" jdbcType="VARCHAR" property="layer" />
        <result column="sort" jdbcType="VARCHAR" property="sort" />
        <result column="status" jdbcType="VARCHAR" property="status" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    </resultMap>

    <sql id="baseColumnList">
        region_id, code, name, parent_code, layer, sort, status, remark, create_time, update_time
    </sql>

    <insert id="insert" parameterType="me.flyray.bsin.server.domain.SysRegion">
        insert into sys_region (region_id, code, name, parent_code, layer, sort, status, remark)
        values (#{regionId,jdbcType=VARCHAR},
            #{code,jdbcType=VARCHAR},
            #{name,jdbcType=VARCHAR},
            #{parentCode,jdbcType=VARCHAR},
            #{layer,jdbcType=VARCHAR},
            #{sort,jdbcType=VARCHAR},
            #{status,jdbcType=VARCHAR},
            #{remark,jdbcType=VARCHAR})
    </insert>

    <delete id="deleteById" parameterType="java.lang.String">
        delete from sys_region
        where region_id = #{regionId,jdbcType=VARCHAR}
    </delete>

    <select id="selectRegionById"  resultMap="BaseResultMap">
        select
        <include refid="baseColumnList" />
        from sys_region where region_id = #{regionId,jdbcType=VARCHAR}
    </select>

    <select id="selectSubNodeList"  resultMap="BaseResultMap">
        select
        <include refid="baseColumnList" />
        from sys_region
        <where>
            <if test="code != null and code != ''">
                parent_code = #{code}
            </if>
        </where>
    </select>

    <select id="selectTopLayerList"  resultMap="BaseResultMap">
        select
        <include refid="baseColumnList" />
        from sys_region where layer = 1
    </select>

    <select id="selectAllList"  resultMap="BaseResultMap">
        select
        <include refid="baseColumnList" />
        from sys_region
    </select>



    <update id="updateById" parameterType="me.flyray.bsin.server.domain.SysRegion">
        update sys_region
          <set>
              <if test="code != null and code != ''">
                  code = #{code,jdbcType=VARCHAR},
              </if>
              <if test="name != null and name != ''">
                  `name` = #{name,jdbcType=VARCHAR},
              </if>
              <if test="sort != null and sort != ''">
                  sort = #{sort,jdbcType=VARCHAR},
              </if>
              <if test="remark != null and remark != ''">
                  remark = #{remark,jdbcType=VARCHAR},
              </if>
          </set>
        where region_id = #{regionId,jdbcType=VARCHAR}
    </update>

</mapper>
